@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-black: #001C30;
    --color-white: #fff;
    --color-white2: #DAFFFB;
    --color-aqua: #64CCC5;
    --color-blackHOVER: #176B87;

    --font-principal: 'Krona One', sans-serif;
    --font-second: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */

    box-sizing: border-box;

    background-color: var(--color-black);
    color: var(--color-white2);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.navbar {
    display: flex;
    gap: 80px;
}

.navbar a {
    font-family: var(--font-second);
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--color-aqua);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 82px;
}

.apresentacao__info {
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__info h1 {
    font-family: var(--font-principal);
    font-size: 2.25rem;
}

.apresentacao__info p {
    font-family: var(--font-second);
    font-size: 1.5rem;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 32px;
}

.subtitulo {
    font-family: var(--font-principal);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links a {
    display: flex;
    justify-content: center;
    gap: 16px;
    
    color: var(--color-white2);
    border: 2px solid var(--color-aqua);

    width: 50%;

    font-size: 1.5rem;
    font-family: var(--font-second);
    font-weight: 600;
    padding: 21.5px 0;

    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.apresentacao__links a:hover {
    background-color: var(--color-blackHOVER);
}

.destaque-titulo {
    color: var(--color-aqua);
}

.imagem {
    width: 50%;
}

.rodape {
    padding: 12px;

    text-align: center;

    color: var(--color-black);
    background-color: var(--color-aqua);

    font-family: var(--font-second);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .navbar {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__info {
        width: auto;
    }
}